<!DOCTYPE html>
<html lang="zxx">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/plyr.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/home">
                            <img th:src="@{/img/logo.png}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
							<ul>
								<li class="active"><a href="./index.html">Homepage</a></li>
								<ul:block th:each="item,state : ${list}">
									<ul:block th:switch="${item.name}">
										<li th:case="'Genres'"><a href="./categories.html"
											th:text="${item.name}"> <span class="arrow_carrot-down"></span>
										</a>
											<ul class="dropdown">
												<ul:block th:each="item,state : ${listGen}">
													<li><a th:href="@{/moviegenres/{genId}(genId=${item.genresId})}" th:text="${item.name}"></a></li>
												</ul:block>
											</ul></li>
										<li th:case="'Country'"><a href="./categories.html"
											th:text="${item.name}"> <span class="arrow_carrot-down"></span>
										</a>
											<ul class="dropdown">
												<ul:block th:each="item,state : ${listCoun}">
													<li><a href="./categories.html" th:text="${item.name}"></a></li>
												</ul:block>
											</ul></li>
										<li th:case="'Seasion'"><a href="./categories.html"
											th:text="${item.name}"> <span class="arrow_carrot-down"></span>
										</a>
											<ul class="dropdown">
												<ul:block th:each="item,state : ${listSea}">
													<li><a href="./categories.html"
														th:text="'Phim lẻ '+ ${item.startYear}"></a></li>
												</ul:block>
											</ul></li>
										<li th:case="'Series'"><a href="./categories.html"
											th:text="${item.name}"> <span class="arrow_carrot-down"></span>
										</a>
											<ul class="dropdown">
												<ul:block th:each="item,state : ${listSer}">
													<li><a href="./categories.html" th:text="${item}"></a></li>
												</ul:block>
											</ul></li>
										<li th:case="*"><a href="./categories.html"
											th:text="${item.name}"> <span class="arrow_carrot-down"></span>
										</a></li>
									</ul:block>
							</ul>
						</nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="./login.html"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="./categories.html">Categories</a>
                        <span>Romance</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content" >
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" >
                         <img class="anime__details__pic set-bg" th:src="@{'/'+${movie.posterPath}}" alt="">
                            <div class="comment"><i class="fa fa-comments" th:text="${movie.reviews.size}"></i></div>
                            <div class="view"><i class="fa fa-eye"  th:text="${movie.views}"></i> </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3 th:text="${movie.title}"></h3>
                                <span th:text="${movie.name}"></span>
                            </div>
                            <div class="anime__details__rating">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                                <span>1.029 Votes</span>
                            </div>
                            <p th:text="${movie.overview}"></p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Type:</span><li:block th:text="${movie.type}"> </li:block></li>
                                            <li><span>Studios:</span><li:block th:each="gen,state : ${movie.movieCompanies}" th:text="${gen.company.name}"> </li:block></li>
                                            <li><span>Date aired:</span><li:block th:text="${movie.dateAired}"> </li:block></li>
                                            <li><span>Status:</span><li:block th:text="${movie.status}==1?'Airing':'Stop Broadcasting'"> </li:block>  </li>
                                            <li><span>Genre:</span><li:block th:each="gen,state : ${movie.movieGenres}" th:text="${gen.genres.name+' '}"> </li:block> </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Scores:</span> <li:block th:text="${movie.scoresAvg}"> </li:block > /<li:block th:text="${movie.scoresCount}"> </li:block ></li>
                                            <li><span>Rating:</span> <li:block th:text="${movie.votesAvg}"> </li:block > / <li:block th:text="${movie.votesCount}"> </li:block > times</li>
                                            <li><span>Duration:</span><li:block th:text="${movie.runtime}+' min/ep'"> </li:block> </li>
                                            <li><span>Quality:</span> <li:block th:text="${movie.quality}"> </li:block></li>
                                            <li><span>Views:</span> <li:block th:text="${movie.views}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i> Follow</a>
                                <a th:href="@{/watch/{movieId}&{eps}(movieId=${movie.movieId},eps=${1})}" class="watch-btn"><span>Watch Now</span> <i
                                    class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="anime__details__review">
                            <div class="section-title">
                                <h5>Reviews</h5>
                            </div>
                            <div class="anime__review__item" th:each="rev,state : ${movie.reviews}">
                                <div class="anime__review__item__pic">
                                    <img th:src="@{'/'+${rev.user.pathImg}}" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <h6> <h6:block  th:text="${rev.user.firstName+' '+ rev.user.lastName}"></h6:block>- <span>1 Hour ago</span></h6>
                                    <p th:text="${rev.comment}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__form">
                            <div class="section-title">
                                <h5>Your Comment</h5>
                            </div>
                            <form action="#">
                                <textarea placeholder="Your Comment"></textarea>
                                <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="anime__details__sidebar">
                            <div class="section-title">
                                <h5>you might like...</h5>
                            </div>
                            <div th:each="might,state : ${moviemighr}" class="product__sidebar__view__item set-bg" th:data-setbg="@{'/'+${might[16]}}">
                                <div class="ep" th:text="${might[21]+'/?'}">18 / ?</div>
                                <div class="view"><i class="fa fa-eye" th:text="${#numbers.formatInteger(might[13],3)}"></i></div>
                                <h5><a th:href="@{/moviebyid/{movieId}(movieId=${might[0]})}" th:text="${might[2]}"></a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Anime Section End -->

        <!-- Footer Section Begin -->
        <footer class="footer">
            <div class="page-up">
                <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer__nav">
                            <ul>
                                <li class="active"><a href="./index.html">Homepage</a></li>
                                <li><a href="./categories.html">Categories</a></li>
                                <li><a href="./blog.html">Our Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                      </div>
                  </div>
              </div>
          </footer>
          <!-- Footer Section End -->

          <!-- Search model Begin -->
          <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch"><i class="icon_close"></i></div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search here.....">
                </form>
            </div>
        </div>
        <!-- Search model end -->

        <!-- Js Plugins -->
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/player.js}"></script>
        <script th:src="@{/js/jquery.nice-select.min.js}"></script>
        <script th:src="@{/js/mixitup.min.js}"></script>
        <script th:src="@{/js/jquery.slicknav.js}"></script>
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <script th:src="@{/js/main.js}"></script>

    </body>

    </html>