<!DOCTYPE html>
<html lang="zxx">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="description" content="Anime Template">
<meta name="keywords" content="Anime, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Anime | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/plyr.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<div class="header__logo">
						<a href="./index.html"> <img src="img/logo.png" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="header__nav">
						<nav class="header__menu mobile-menu">
							<ul>
								<li class="active"><a href="./index.html">Homepage</a></li>
								<ul:block th:each="item,state : ${list}">
									<ul:block th:switch="${item.name}">
										<li th:case="'Genres'"><a href="./categories.html"
											th:text="${item.name}"> <span class="arrow_carrot-down"></span>
										</a>
											<ul class="dropdown">
												<ul:block th:each="item,state : ${listGen}">
													<li><a th:href="@{/moviegenres/{genId}(genId=${item.genresId})}" th:text="${item.name}"></a></li>
												</ul:block>
											</ul></li>
										<li th:case="'Country'"><a href="./categories.html"
											th:text="${item.name}"> <span class="arrow_carrot-down"></span>
										</a>
											<ul class="dropdown">
												<ul:block th:each="item,state : ${listCoun}">
													<li><a th:href="@{/moviecon/{genId}(genId=${item.countryId})}" th:text="${item.name}"></a></li>
												</ul:block>
											</ul></li>
										<li th:case="'Seasion'"><a href="./categories.html"
											th:text="${item.name}"> <span class="arrow_carrot-down"></span>
										</a>
											<ul class="dropdown">
												<ul:block th:each="item,state : ${listSea}">
													<li><a th:href="@{/moviesea/{genId}(genId=${item.seasonId})}"
														th:text="'Phim lẻ '+ ${item.startYear}"></a></li>
												</ul:block>
											</ul></li>
										<li th:case="'Series'"><a href=""
											th:text="${item.name}"> <span class="arrow_carrot-down"></span>
										</a>
											<ul class="dropdown">
												<ul:block th:each="item,state : ${listSer}">
													<li><a th:href="@{/movieser/{serId}(serId=${item.seriesId})}" th:text="${item.title}"></a></li>
												</ul:block>
											</ul></li>
										<li th:case="*"><a th:href="@{'/'+${item.url}}"
											th:text="${item.name}"> <span class="arrow_carrot-down"></span>
										</a></li>
									</ul:block>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="header__right">
						<a href="#" class="search-switch"><span class="icon_search"></span></a>
						<a href="./login.html"><span class="icon_profile"></span></a>
					</div>
				</div>
			</div>
			<div id="mobile-menu-wrap"></div>
		</div>
	</header>
	<!-- Header End -->

	<!-- Hero Section Begin -->
	<section class="hero">
		<div class="container">
			<div class="hero__slider owl-carousel">
				<ul:block th:each="item,state : ${listSlide}">
					<div class="hero__items set-bg" th:data-setbg="${item.img}">
						<div class="row">
							<div class="col-lg-6">
								<div class="hero__text">
									<div class="label">Adventure</div>
									<h2 th:text="${item.caption}"></h2>
									<p th:text="${item.contents}"></p>
									<a th:href="${item.link}"><span>Watch Now</span> <i
										class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</ul:block>
			</div>
		</div>
	</section>
	<!-- Hero Section End -->

	<!-- Product Section Begin -->
	<section class="product spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="trending__product">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8">
								<div class="section-title">
									<h4>Trending Now</h4>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="btn__all">
									<a href="/trend" class="primary-btn">View All <span
										class="arrow_right"></span></a>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-6"
								th:each="item,state : ${listTrend}">
								<div class="product__item">
									<div class="product__item__pic set-bg "
										th:data-setbg="${item.posterPath}">
										<div class="ep" th:text="${item.movieEpisodes.size}+'/18'"></div>
										<div class="comment">
											<i class="fa fa-comments" th:text="${item.reviews.size}"></i>
										</div>
										<div class="view">
											<i class="fa fa-eye"
												th:text="${#numbers.formatInteger(item.views,3)}"></i>
										</div>
									</div>
									<div class="product__item__text">
										<ul>
											<li th:each="gen,state : ${item.movieGenres}"
												th:text="${gen.genres.name}"></li>
										</ul>
										<h5>
											<a th:href="@{/moviebyid/{movieId}(movieId=${item.movieId})}" th:text="${item.name}"></a>
										</h5>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="popular__product">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8">
								<div class="section-title">
									<h4>Popular Shows</h4>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="btn__all">
									<a href="/popular" class="primary-btn">View All <span
										class="arrow_right"></span></a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-6"
								th:each="item,state : ${listPopular}">
								<div class="product__item">
									<div class="product__item__pic set-bg "
										th:data-setbg="${item.posterPath}">
										<div class="ep" th:text="${item.movieEpisodes.size}+'/18'"></div>
										<div class="comment">
											<i class="fa fa-comments" th:text="${item.reviews.size}"></i>
										</div>
										<div class="view">
											<i class="fa fa-eye"
												th:text="${#numbers.formatInteger(item.views,3)}"></i>
										</div>
									</div>
									<div class="product__item__text">
										<ul>
											<li th:each="gen,state : ${item.movieGenres}"
												th:text="${gen.genres.name}"></li>
										</ul>
										<h5>
											<a th:href="@{/moviebyid/{movieId}(movieId=${item.movieId})}" th:text="${item.name}"></a>
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="recent__product">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8">
								<div class="section-title">
									<h4>Recently Added Shows</h4>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="btn__all">
									<a href="/recently" class="primary-btn">View All <span
										class="arrow_right"></span></a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-6"
								th:each="item,state : ${listRecently}">
								<div class="product__item">
									<div class="product__item__pic set-bg "
										th:data-setbg="${item.posterPath}">
										<div class="ep" th:text="${item.movieEpisodes.size}+'/18'"></div>
										<div class="comment">
											<i class="fa fa-comments" th:text="${item.reviews.size}"></i>
										</div>
										<div class="view">
											<i class="fa fa-eye"
												th:text="${#numbers.formatInteger(item.views,3)}"></i>
										</div>
									</div>
									<div class="product__item__text">
										<ul>
											<li th:each="gen,state : ${item.movieGenres}"
												th:text="${gen.genres.name}"></li>
										</ul>
										<h5>
											<a th:href="@{/moviebyid/{movieId}(movieId=${item.movieId})}" th:text="${item.name}"></a>
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="live__product">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8">
								<div class="section-title">
									<h4>Live Action</h4>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="btn__all">
									<a href="/live" class="primary-btn">View All <span
										class="arrow_right"></span></a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-6"
								th:each="item,state : ${listLive}">
								<div class="product__item">
									<div class="product__item__pic set-bg "
										th:data-setbg="${item.posterPath}">
										<div class="ep" th:text="${item.movieEpisodes.size}+'/18'"></div>
										<div class="comment">
											<i class="fa fa-comments" th:text="${item.reviews.size}"></i> 
										</div>
										<div class="view">
											<i class="fa fa-eye"
												th:text="${#numbers.formatInteger(item.views,3)}"></i>
										</div>
									</div>
									<div class="product__item__text">
										<ul>
											<li th:each="gen,state : ${item.movieGenres}"
												th:text="${gen.genres.name}"></li>
										</ul>
										<h5>
											<a th:href="@{/moviebyid/{movieId}(movieId=${item.movieId})}" th:text="${item.name}"></a>
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-8">
					<div class="product__sidebar">
						<div class="product__sidebar__view">
							<div class="section-title">
								<h5>Top Views</h5>
							</div>
							<ul class="filter__controls">
								<li class="active" data-filter="*">Day</li>
								<li data-filter=".week">Week</li>
								<li data-filter=".month">Month</li>
								<li data-filter=".years">Years</li>
							</ul>
							<div class="filter__gallery" th:each="item,state : ${listView}">
								<div class="product__sidebar__view__item set-bg mix day years"
									th:data-setbg="${item[2]}">
									<div class="ep" th:text="${item[4]}+'/18'"></div>
									<div class="view">
										<i class="fa fa-eye"
											th:text="${#numbers.formatInteger(item[3],3)}"></i>
									</div>
									<h5>
										<a th:href="@{/moviebyid/{movieId}(movieId=${item[0]})}" th:text="${item[1]}"></a>
									</h5>
								</div>
							</div>
						</div>
						<div class="product__sidebar__comment">
							<div class="section-title">
								<h5>New Comment</h5>
							</div>
							<div class="product__sidebar__comment__item"
								th:each="item,state : ${listReview}">
								<div class="product__sidebar__comment__item__pic">
									<img th:src="${item.posterPath}" alt="">
								</div>
								<div class="product__sidebar__comment__item__text">
									<ul>
										<li th:each="gen,state : ${item.movieGenres}"
											th:text="${gen.genres.name}"></li>
									</ul>
									<h5>
									<a th:href="@{/moviebyid/{movieId}(movieId=${item.movieId})}" th:text="${item.name}"></a>
									</h5>
									<span><i class="fa fa-eye"
										th:text="${#numbers.formatInteger(item.views,3)}+'Viewes'"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Product Section End -->

	<!-- Footer Section Begin -->
	<footer class="footer">
		<div class="page-up">
			<a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="footer__logo">
						<a href="./index.html"><img src="img/logo.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer__nav">
						<ul>
							<li class="active"><a href="./index.html">Homepage</a></li>
							<li><a href="./categories.html">Categories</a></li>
							<li><a href="./blog.html">Our Blog</a></li>
							<li><a href="#">Contacts</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3">
					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved | This template is made with <i
							class="fa fa-heart" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>

				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- Search model Begin -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">
				<i class="icon_close"></i>
			</div>
			<form class="search-model-form" method="get" th:action="@{/search/}">
				<input type="text" id="search-input" placeholder="Search here....." name="name">
			</form>
		</div>
	</div>
	<!-- Search model end -->

	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/player.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>


</body>

</html>